<h1>FCC CourseWork</h1>
<h2>This page contain all the FCC CourseWorks</h2>

<h3>FE-Page</h3><hr />
<ol>
  <li><a href="http://fccwork-mks.herokuapp.com/fe/Tribute-Page">Tribute Page</a></li>
  <li><a href="http://fccwork-mks.herokuapp.com/fe/webpage">Personal Portfolio Webpage</a></li>
  <li><a href="http://fccwork-mks.herokuapp.com/fe/danmu">Danmu App</a></li>
  <li><a href="http://fccwork-mks.herokuapp.com/fe/quote">Random Quote Machine</a></li>
  <li><a href="http://fccwork-mks.herokuapp.com/fe/localweather">Local Weather</a></li>
  <li><a href="http://fccwork-mks.herokuapp.com/fe/wikiviewer">Wikipedia Viewer</a></li>
  <li><a href="http://fccwork-mks.herokuapp.com/fe/twitchviewer">Twitch Viewer</a></li>
  <li><a href="http://fccwork-mks.herokuapp.com/fe/jscalculator">Javascript Calculator</a></li>
  <li><a href="http://fccwork-mks.herokuapp.com/fe/pomodorotimer">Pomodoro Clock</a></li>
  <li><a href="http://fccwork-mks.herokuapp.com/fe/tictactoe">Tic Tac Toe Game</a></li>
  <li><a href="http://fccwork-mks.herokuapp.com/fe/simongame">Simon Game</a></li>
</ol>

<h3>API Projects</h3><hr />
<ol>
  <li><a href="https://fccwork-mks.herokuapp.com/api/timestamp">Timestamp Microservice</a></li>
  <li><a href="https://fccwork-mks.herokuapp.com/api/reqhdparser">Request Header Parser Microservice</a></li>
  <li><a href="https://fccwork-mks.herokuapp.com/api/URLshorter">URL Shortener Microservice</a></li>
  <li><a href="https://fccwork-mks.herokuapp.com/api/imagesearch">Image Search Abstraction Layer</a></li>
  <li><a href="https://fccwork-mks.herokuapp.com/api/fileMetadata">File Metadata Microservice</a></li>
</ol>
