<h1>File Metadata Microservice</h1>
<p style="color: red">
  请选择小于10MB的文件进行上传
</p>
<form action="/api/fileMetadata/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="file" /><br />
  <input type="submit" value="submit" />
</form>
