<h1>Image Search Abstraction Layer</h1>
<h2>Usage</h2><hr />
<p>/search/{keyords}?offset={num}</p>
<h2>Latest</h2><hr />
<p>/latest</p>
<h2 style="color: red">Attention</h2>
<p style="color: red">Not find a search API, this is just a test</p>
