<h1>URL Shortener Microservice</h1>
<div>
  功能：
  <ol>
    <li>在当前网址后输入new/&ltURL&gt,用www.example.com类型的网址替换前面的URL，会返回一个对象</li>
    <li>输入返回对象的shortURL会访问你之前输入的网址</li>
  </ol>
  例子:
  <p>http://fccwork-mks.herokuapp.com/api/URLshorter/new/www.baidu.com</p>
  返回：
  <p>{"originURL":"http://www.baidu.com","shortURL":"https://fccwork-mks.herokuapp.com/api/URLshorter/a"}</p>
</div>
