<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<script src="https://cdn.wilddog.com/js/vendor/jquery-1.11.2.min.js"></script>
	<script src="https://cdn.wilddog.com/sdk/js/2.1.2/wilddog.js"></script>
	<script src="/js/danmu.js"></script>
	<link rel="stylesheet" href="/css/danmu.css" />
	<title>eggmu</title>
</head>
<body>
	<div class="container">
		<div class="screen">
			<!-- eggmu -->
		</div>
		<div class="control">
			<input type="text" class="input" placeholder="请说点什么吧！" autofocus="autofocus" /><br />
			<div class="buttons">
				<button class="send">发射</button>
				<button class="del">清屏</button>
			</div>
		</div>
	</div>
</body>
</html>
