<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="/js/simongame.js"></script>
		<link rel="stylesheet" href="http://cdn.webfont.youziku.com/webfonts/nomal/94115/45817/581c27aff629d80df8fad808.css" />
		<link rel="stylesheet" href="/css/simongame.css" />
		<title>Simon Game</title>
	</head>
	<body>
		<div class="box">
			<div class="panel">
				<h1>Simon</h1>
				<div class="notify">
					<button class="screen"></button><br />
					<span>COUNT</span>
				</div>
				<div class="begin">
					<button class="bg-btn" id="off"></button><br />
					<span>START</span>
				</div>
				<div class="strict">
					<button  class="str-btn" id="nostr"></button ><br />
					<span>STRICT</span>
				</div>
				<div class="on-off">
					<span>OFF</span>
						<button  class="toggle"></button >
						<button class="change" id="off"></button>
					<span>ON</span>
				</div>
			</div>
			<div class="color">
				<div class="green"><div class="lay" id="0"></div></div>
				<div class="red"><div class="lay" id="1"></div></div>
				<div class="yellow"><div class="lay" id="2"></div></div>
				<div class="blue"><div class="lay" id="3"></div></div>
			</div>
		</div>
	</body>
</html>
