<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/Tribute-Page.css" />
  <title>Tribute Page</title>
</head>
<body>
  <div id="main">
  <h1>袁隆平</h1>
  <h2>杂交水稻之父、首届国家最高科学奖获得者</h2>
  <div class="div">
  <img  src="http://oiovk17jy.bkt.clouddn.com/yuanlongping.jpg"/>
    <p class="center">袁隆平在田地观察水稻生长状况</p>
  </div>
  <section class="section">
    <h3>袁隆平的科技成就:</h3>
    <ul>
      <li><b>1964</b>年，开始研究杂交水稻，1974年育成第一个杂交水稻强优组合南优2号。</li>
      <li><b>1975</b>年，年研制成功杂交水稻制种技术，从而为大面积推广杂交水稻奠定了基础。</li>
      <li><b>1966</b>年，在IRRI，菲律宾国际水稻研究所，培育出奇迹稻（IR8）袁隆平的杂交水稻研究。</li>
      <li><b>1985</b>年，提出杂交水稻育种的战略设想，为杂交水稻的进一步发展指明了方向。</li>
      <li><b>1986</b>年，袁隆平提出了杂交水稻的育种战略，将杂交水稻的育种从选育方法上分为三系法、两系法和一系法三个战略发展阶段，即育种程序朝着由繁至简而效率越来越高的方向发展；从杂种优势水平的利用上分为品种间、亚种间和远缘杂种优势的利用三个战略发展阶段，即优势利用朝着越来越强的方向发展。根据这一设想，杂交水稻每进入一个新阶段都是一次新突破，都将把水稻产量推向一个更高的水平。这项战略构想的提出，为中国已取得三系法杂交水稻研究、开发成功后开展杂交水稻新探索指明了方向。</li>
      <li><b>1987</b>年，国家“863”计划将两系法杂交水稻研究立为专题，袁隆平组成了两系法杂交水稻研究协作组开展全国性的协作攻关。历经九年的艰苦攻关，1995年两系法杂交水稻取得了成功，一般比同熟期的三系杂交稻增产5%～10%，且米质一般都较好，近年的种植面积为6000亩左右。两系法杂交水稻为中国独创，它的成功是作物育种上的重大突破，再次体现了以袁隆平为首的中国杂交水稻科技工作者的聪明智慧，继续使中国的杂交水稻研究水平保持了世界领先水平。</li>
      <li><b>1997</b>年，他又提出了旨在提高光合作用效率的超高产杂交水稻形态模式和选育技术路线，开始了“中国超级杂交水稻”的研究。这是一道世界级难题，通过攻关研究，2000年已实现了第一期大面积示范亩产700公斤的指标，比现有高产杂交稻每亩增产50公斤左右，尤其1999年在云南永胜还创造了亩产高达1137.5公斤的高产新纪录，第一期超级杂交稻的推广面积为3000万亩。</li>
      <li><b>2001</b>年以来，袁隆平指导选育成大面积示范亩产800公斤、米质优良的第二代超级杂交稻，并于2004年提前一年实现第二期超级稻目标。第二期超级杂交稻于2006年开始推广，2011年种植面积达800万亩，在大面积生产上比第一期超级稻高50公斤/亩以上。袁隆平仍不满足，进一步提出了将常规育种与生物技术结合，攻关第三期超级杂交稻大面积示范每亩900公斤目标，经过努力，2011、2012年超级杂交稻第三期目标攻关百亩示范分别达亩产926.6公斤、917.7公斤，标志中国超级杂交稻第三期目标实现。2013年，启动亩产1000公斤的超级杂交稻第四期目标攻关。2013年9月29日，第四期超级稻百亩示范片“Y两优900”中稻在湖南省隆回县羊古坳乡牛形村实现百亩平均亩产达988.1公斤，创世界纪录。</li>
      <li><b>2006</b>年，袁隆平提出“种三产四”丰产工程，即运用超级杂交稻的技术成果，力争用三亩地产出现有四亩地的粮食。2007年率先在湖南20个县启动实施，已取得非常好的效果。计划在全国推广6000万亩，产出8000万亩的粮食，等于增加了2000万亩粮食耕地，可多养活3000多万人。到2012年，“种三产四”丰产工程项目扩大到在50个县市区实施，面积为882.2万亩，增产稻谷达9.62亿公斤。截至2012年，累计示范推广面积2000多万亩，增产20多亿公斤，为粮食持续稳定增产做出了新的贡献。[1]  2013年9月29日国家杂交水稻工程技术研究中心证实，经农业部测产验收，由“杂交水稻之父”袁隆平院士科研团队攻关的国家第四期超级稻百亩示范片“Y两优900”中稻平均亩产达988.1公斤，创世界纪录。</li>
      <br/>
      <p class="big">"袁隆平热爱祖国、一心为民、造福人类的崇高品德，与中国共产党肝胆相照、同心同德的思想风范，与时俱进、勇攀高峰的创新精神，不畏艰险、执着追求的坚强意志，严以律己、淡泊名利的高尚情操，是当代中国人学习的楷模，更是新世纪呼唤的时代精神。"<q class="gray"><i>——贾庆林</i></q></p>
    </ul>


    <p class="font">在<a href="http://baike.baidu.com/link?url=z55EAQBFK_eZPje6MiulU0Ill4TITOYNVqt4zbty3josP6Vh4ZkyjSjJu5j0jnFbGBsbbqRp1z2tU7d9DL7ZEmKBrvhLjc7ic1E6gASf3pUV05l4pagYn2DRNqH8ioVg#7">百度百科</a>上有对袁隆平更详细的介绍</p>
  </section>
  </div>

</body>
</html>
