<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="/js/twitchviewer.js"></script>
		<link rel="stylesheet" href="http://cdn.webfont.youziku.com/webfonts/nomal/94115/45817/581c27aff629d80df8fad808.css" />
		<link rel="stylesheet" href="/css/twitchviewer.css" />
		<title>Twitch Viewer</title>
	</head>
	<body>
		<h1>Twitch Viewer</h1>
		<div class="box">
			<div class="nav">
				<div class="active" id="all">All</div>
				<div id="on">Online</div>
				<div id="off">Offline</div>
			</div>
			<div class="contents">
				<div id="allContent"></div>
				<div id="onContent"></div>
				<div id="offContent"></div>
			</div>
		</div>
	</body>
</html>
