<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="/js/wikiviewer.js"></script>
	<link rel="stylesheet" href="http://cdn.webfont.youziku.com/webfonts/nomal/94115/45817/581c27aff629d80df8fad808.css" />
	<link rel="stylesheet" href="/css/wikiviewer.css" />
	<title>Wikipedia Viewer</title>
</head>
<body>
	<h1>Wikipedia Viewer</h1>
	<div class="search-box">
		<a class="random" target="_blank" href="http://en.wikipedia.org/wiki/Special:Random">Random Page</a>
		<input type="search" class="search" placeholder="search" />
	</div>
	<div class="searchDetails"></div>
</body>
</html>
